.title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-2 {
    display:flex;
    justify-content: center;
}
.icon {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 5px;

}
.block-1 {
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.block-2 {
    padding-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    margin: 10px;
    padding: 30px;
}